[Unit]
Description=ABLS Agent DLS
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/abls-agent-dls
User=abls-agent-dls
Group=abls
StateDirectory=abls-agent-dls
WorkingDirectory=%S/abls-agent-dls
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target